<li class="publication-item">
  <div class="publication-title">{{ item.title }}</div>
  <div class="publication-authors">
    {% for author in item.authors %}{% if author == site.title %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}
  </div>
  <div class="publication-venue">
    <em>{{ item.journal }}</em>, {{ item.year }}.{% if item.misc %} <strong>{{ item.misc }}</strong>.{% endif %}
    {% if item.tags %}
      {% for tag in item.tags %}{% if tag.link %}<a href="{{ tag.link }}">[{{ tag.tag }}]</a>{% else %}[{{ tag.tag }}]{% endif %}{% unless forloop.last %} {% endunless %}{% endfor %}
    {% endif %}
  </div>
</li>
